# Simple server config

# port
port 23399

# ipv4
# ipv4 127.0.0.1

# Tick interval (ms)
# tick 100

# client time out (ms)
timeout 600000

# daemon default 0
# daemon 0

# the maximum fds
max_fds 65536

# syslog_level default 2
syslog_level 1

# local log path
log_path ./log

# local log level
# glog level (0=INFO, 1=WARNING, 2=ERROR)
log_level 1

# zone num
#zone_num 10
